Binaries
Content/
Plugins/Developer/
Package/
**/Binaries/**
Build
DerivedDataCache
Intermediate
**/Intermediate/**
Saved
.idea
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace